p
{
	font-size: small;
}
	{
		font-family: Arial, "Times New Roman", "sans-serif";
}

h1
{font-size: large;
	font-family: Arial, "Times New Roman", "sans-serif";

}

h1
{
	color: green;
}

h2
{
	font-size: medium;
}

{
	font-family:Arial, "Times New Roman", "sans-serif";
}
 
 
 	/* On travaille sur la balise body, donc sur TOUTE la page */
body
{
    background-color: black; /* Le fond de la page sera noir */
    color: white; /* Le texte de la page sera blanc */
}

